################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################
/src/AutoMinesDetonate/obj/Debug
ErrorLog.txt
config.ini